@import 'src/styles.scss';
.states {
    mat-card{
        width: 100%;
        margin-left: 1rem;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    :hover{
        background-color: $grey2;
        cursor: pointer;
    }
}